.card {
    width: 55%
}

.card hr {
    color: gray;
    margin-top: 24px;
}

.card h3 {
    font-family: 'Nunito Sans';
    font-size: 0.8em;
    font-weight: 100;
    color: gray;
}

.card p {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1.5em;
}

.card h2 {
    margin-top: 0px;
    font-family: 'Open Sans';
}

.button {
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 0.5px solid gray;
    ;
}

.button div {
    display: flex;
}

.button span {
    width: 70%;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Open Sans';
    color: gray;
}