.card {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.buttonCard {
    position: absolute;
    display: flex;
    z-index: 1;
    background-color: #16C79A;
    width: 40%;
    height: 40px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.buttonCard span {
    font-size: 0.7em;
    font-weight: normal;
    font-family: 'Open Sans';
    text-transform: uppercase;
}