.navbar {
    list-style-type: none;
    margin: 0;
    height: 60px;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    background-color: #393E46;
    display: flex;
    align-items: center;
}

.navbar li {
    float: left;
    padding: 16px 8px;
}

.navbar div {
    width: 80px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: 160px;
    margin-left: 24px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-family: 'Nunito Sans';
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #16C79A;
    color: white;
}

.navbar a.active {
    background-color: #16C79A;
    color: white;
}